doctype html
html
	head
		meta(charset="utf-8")
		title Poll Application
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="screen.css")
body(ng-app='app', ng-controller="MainCtrl")
	noscript Please enable Javascript to experience this site :)
	.container-fluid(ng-show='! id')
		header.container Poll Application
		button.btn.btn-primary(ng-click='fetch();') Пройти опрос
	section.container(ng-hide='! id', currentQuestion)
		h2 {{title}}
		form
			.form-group
				label.textQuestion(for="answer") Question
				input.form-control(type='text', placeholder='Your answer')
				.checkbox
					label.checkbox-inline Option one
						input(type='checkbox', value='')
				.radio
					label.radio-inline Option one
						input(type='radio', name='optionsRadios', id='optionsRadios1')
			button.btn.btn-default(ng-click='setNextIndex();') Далее
	footer.navbar.navbar-default.navbar-fixed-bottom
		.container Created by Olga Malanova
	script(src="//code.jquery.com/jquery-1.11.2.min.js")
	script(src='//underscorejs.org/underscore-min.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-animate.js')
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
	script(src="scripts/app.js")