html {
  font: 100% Arial 17px;
}
body {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 70px;
  padding-top: 70px;
  vertical-align: middle;
  display: flex;
}
nav {
	background-color: #f2f2f2;
  text-align: center;

}
footer {
  background-color: #f2f2f2;
  text-align: center;
}
header {
	font-size: 2em;
  color: #333333;
}
.centered {
	align-items: center;
	justify-content: center;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  float: none;
  margin: 0 auto;
}
.question {
  float: none;
}
