		section.container(ng-controller="QuestionCtrl")
			form
				.form-group
					label(for="answer") Question
					input.form-control(type='text', placeholder='Your answer')
					.checkbox
						label.checkbox-inline Option one
							input(type='checkbox', value='')
					.radio
						label.radio-inline Option one
							input(type='radio', name='optionsRadios', id='optionsRadios1')