section.container
	form
		.form-group(hide-directive, question = 'question', ng-view)
			//- label(for="answer") {{question.title}}
			//- input.hiddenn.form-control(type='text', placeholder='Your answer')
			//- .checkbox.hiddenn
			//- 	label.checkbox-inline
			//- 		input(type='checkbox', value='')
			//- 		span  Option one
			//- .radio.hiddenn
			//- 	label.radio-inline
			//- 		input(type='radio', name='optionsRadios', id='optionsRadios1')
			//- 		span 